/* Main CSS Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.nav-option.highlighted {
  border-left: 5px solid #FFD700; 
  background-color: #f0f0f0; 
}

body {
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  height: 70px;
  width: 100vw;
  padding: 0 30px;
  background-color: #325d88;
  position: fixed;
  z-index: 100;
  box-shadow: #325d88;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.main-container {
  display: flex;
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 1;
}

.main {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 30px 30px 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;
  right: 6px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ededed;
}

.nav {
  min-height: 91vh;
  width: 250px;
  background-color: #476b8e;
  position: absolute;
  top: 0px;
  left: 00;
  box-shadow: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0 20px 10px;
}

.navcontainer {
  height: calc(100vh - 70px);
  width: 30%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
  display: none;
}

.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}

.nav-option:hover {
  border-left: 5px solid #a2a2a2;
  background-color: #dadada;
  cursor: pointer;
}
.nav-img1 {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.nav-img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.nav-upper-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

iframe {
  position: fixed;
  top: 50%;
  left: 60%;
  width: 80%;
  height: 80%;
  transform: translate(-50%,-50%);
}

@media screen and (max-width: 950px) {
  .nav {
    width: 30%;
  }
  iframe {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  .nav {
    width: 35%;
  }
  iframe {
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    width: 40%;
  }
  iframe {
    width: 60%;
  }
}
